<html>
<head>
<style>
body {
  font-family: Sans-Serif;
}
th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
th                 { background-color: #F0F0F0; }
tr:nth-child(even) { background-color:#E0F0FF; }
tr:nth-child(odd)  { background-color:#E0FFDC; }
td.cbc             { color:DarkBlue; }
tr.nobridge        { color:SlateGray; }
a.smooth           { color: inherit; text-decoration: none; }
</style>
</head>
</style>
</head>
<body>
<H1>wanem</H1>

<Table>
   <tr>
          <th>Interface</th>
          <th>Alias</th>
          <th>Bridge</th>
          <th>&nbsp;</th>
          <th>status</th>
          <th>bandwidth</th><th>delay</th><th>jitter</th><th>loss</th>
          <th>in packets</th>
          <th>out packets</th>
          <th>lldp neighbor</th>
   </tr>
   <% op_datas.each_with_index do | (itf, data) | %>
   <tr<%= data[:bridge].empty?  ?  ' class="nobridge"' : '' %>>
          <td><%= itf %></td>

          <td><a href="setalias?itf=<%= itf %>" class="smooth"><%= data[:alias].empty? ? "define" : data[:alias] %></A></td>

          <td><%= data[:bridge] %></td>
          <td><A HREF="configure?itf=<%= itf %>">Configure</A></td>
          <td><%= data[:status] %></td>

          <td<%= data[:bridge].empty?  ? '' : ' class="cbc"' %>><%= data[:bandwidth] %></td>
          <td<%= data[:bridge].empty?  ? '' : ' class="cbc"' %>><%= data[:delay] %></td>
          <td<%= data[:bridge].empty?  ? '' : ' class="cbc"' %>><%= data[:jitter] %></td>
          <td<%= data[:bridge].empty?  ? '' : ' class="cbc"' %>><%= data[:loss] %></td>

          <td><%= data[:inpkts] %></td>
          <td><%= data[:outpkts] %></td>
          <td><%= data[:neighbor] %></td>
      </tr>
  <% end %>
</table>
</body>
</html>
   
